.page-section {
  height: 100vh;
  width: 100vw;
}
#blog {
  background-color: aquamarine;
  padding-top: 2rem;
}
#about {
  background-color: rgb(31, 32, 39);
  padding-top: 2rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: blueviolet;
}
